{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <section class="p-5">
        <div class="row">
            <div class="col-12">
                <h3 class="mb-4">Предприятия менеджера: {{ user.username }}</h3>
                {% if enterprises %}
                    <div class="table-responsive">
                        <table class="table" style="table-layout: fixed">
                        <tbody>
                            <tr>
                                <th>ID</th>
                                <th>Название</th>
                                <th>Город</th>
                                <th>Действие</th>
                            </tr>
                        </tbody>
                        {% for enterprise in enterprises %}
                            <tr>
                                <td>{{ enterprise.id }}</td>
                                <td>{{ enterprise.name }}</td>
                                <td>{{ enterprise.city }}</td>
                                <td>
                                    <a href="{% url 'enterprise-view' enterprise.id  %}" class="btn btn-warning">Выбрать</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    </div>
                {% else %}
                    <p>У вас нет ниодного предприятия!</p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}